body {
    min-width: 1200px;
    font-family: "STIX Two Math", Times, sans-serif;
    font-style: normal;
    font-weight: 400;  
    font-size: 16px;
    line-height: 23px;
    color: #000;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #e5e5e5;
}

a {
    text-decoration: none;
}

img {
    max-width: 100%;
    height: auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;

    border: 0;

    clip: rect(0 0 0 0);
    overflow: hidden;
}

html {
    box-sizing: border-box;
}
* {
    box-sizing: inherit;
}

ul {
    list-style-type: square;
    padding: 15px;
    margin: 0;
}

.container {
    width: 1200px;; 
    margin: 0 auto;
    background-color: #fff;
}

.aside {
    width: 300px;
    color: #fff;
    background-color: #6b6966;
}

.aside-skills,
.aside-contacts {
    padding-left: 30px;
    border-top: 1px solid #fff;
}

.aside-avatar {
    border-radius: 100%;
}

.content-wrapper {
    display: flex;
    flex-grow: 1;
}

main {
    flex-grow: 1;
    padding-left: 150px;
}

.main-title {
    display: flex;
    flex-direction: column;
}

.main-info__title,
.main-code__title,
.main-work__title,
.main-education__title,
.main-lang__title {
    background-color: #e5e5e5;
}

.contacts-list__link,
.git-link {
    color: #fff;
}

.main-footer {
    display: flex;
    justify-content: space-around;
    flex-shrink: 0;
    background-color: #6b6966;
}
